html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background-color: rgb(4, 213, 213);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 520px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}
#storiyan{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(214, 214, 214);
    margin-top: 15px;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}
.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid red;
    overflow: hidden;
    margin-left: 15px;
    display: inline-block;
}
.story img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}
