section aside{
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}
section aside .filter_bx{
    width: 220px;
    height: auto;
    background: rgb(0, 0, 0,.1);
    padding: 10px;
}
section aside .filter_bx .filter{
    font-size: 14px;
}
section aside .filter_bx .total_shoes{
    font-size: 12px;
    margin-top: 5px;
}
section aside .filter_bx .shoes_check{
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(0, 0, 0,.1);
    margin-top: 10px;
}
section aside .filter_bx .shoes_checked{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    margin:  10px 0px;
    background: #000;
    color: #fff;
}
/* JavaScript class*/
section aside .filter_bx .shoes_checked_off{
    background: none;
    color: #000;
}
section aside .filter_bx .shoes_check li{
   width: 100%;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 14px;
   font-weight: 500;
   padding: 0px 5px;
}
section aside .filter_bx .shoes_check li i{
    font-size: 16px;
    transition: .3s linear;
}
section aside .filter_bx .shoes_check li i:hover{
    color: orangered;
}
/*Javacript class*/
section aside .filter_bx .shoes_check li .i_active{
    color: orangered;
}
section aside .filter_bx .shoes_check .input_p{   
    position: relative;
    display: flex;
    align-items: center; 
}
section aside .filter_bx .shoes_check .input_p{

    position: relative;
    display: flex;
    align-items: center; 
}
section aside .filter_bx .shoes_check .input_p::before{
    content: '';
    position: absolute;
    width: 88%;
    height: 3px;
    background: rgb(0, 0, 0,.3);
    top: 10px;
    left: 0;
}
section aside .filter_bx .shoes_check .input_p .input1{
   position: relative;
   width: 44%;
}
section aside .filter_bx .shoes_check .input_p .input1 input{
    z-index: 99999999;
    opacity: 0;
    cursor: pointer;
    width: 100%;
}
section aside .filter_bx .shoes_check .input_p .input1 i{
    position: absolute;
    top: 0px;
    left: 0%;
    transition: .3s linear;
}
section aside .filter_bx .shoes_check .input_p .input1:nth-child(2) i{
    left: 100%;
}
section aside .filter_bx .shoes_check .input_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
section aside .filter_bx .shoes_check .input_price h6{
    border: 1px solid rgb(0, 0, 0,.3);
    padding: 3px 12px;
    color: rgb(0, 0, 0,.8);
}
section aside .filter_bx .shoes_check .color_bx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
section aside .filter_bx .shoes_check .color_bx h6{
    border: 4px solid #fff;
    padding: 7px;
    margin: 3px;
    cursor: pointer;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(2){
    border: 4px solid #bdbdbd;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(3){
    border: 4px solid #efc229;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(4){
    border: 4px solid #cab43a;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(5){
    border: 4px solid #ff854e;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(6){
    border: 4px solid #40854e;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(7){
    border: 4px solid #5686b6;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(8){
    border: 4px solid #d93782;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(9){
    border: 4px solid #c04442;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(10){
    border: 4px solid #544b7a;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(11){
    border: 4px solid #7a7b7f;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(12){
    border: 4px solid #523d2a;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-last-child(13){
    border: 4px solid #000;
}
section aside .filter_bx .shoes_check .color_bx .colors{
    border-top: 3.3px solid yellow;
    border-right: 3.3px solid green;
    border-bottom: 3.3px solid brown;
    border-left: 3.3px solid pink;
}

section aside .filter_bx .shoes_check .size_bx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
section aside .filter_bx .shoes_check .size_bx h6{
    border: 2px solid rgb(0, 0, 0,.7);
    color: rgb(0, 0, 0,.7);
    padding: 5px 7px;
    margin: 5px;
    cursor: pointer;
} 